.title {
  font-family: $font;
  font-weight: 600;
  font-size: rem(14);
  line-height: rem(21);
  color: $int_main;
}

.bold-txt {
  font-weight: bold;
}

.semi-bold-txt {
  font-weight: 600;
}
.normal-txt{
  font-weight: 400;
}