@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../fonts/IBM/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Medium";
  src: url("../../fonts/IBM/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Light";
  src: url("../../fonts/IBM/IBMPlexSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url("../../fonts/IBM/IBMPlexSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("../../fonts/IBM/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans Extra Bold";
  src: url("../../fonts/IBM/IBMPlexSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk Bold";
  src: url("../../fonts/Space/Space_Grotesk/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

// @font-face {
//   font-family: "Helvetica Neue Bold";
//   src: url("../../fonts/Helvetica/HelveticaNeue-Bold.otf") format("truetype");
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
// }
