@import "../../../assets/styles/abstracts/index.scss";

.search {
  input {
    border: rem(1) solid $border-color;
    padding: rem(11) rem(16);
    border-radius: $border-radius;
    height: rem(48);
    &:focus {
      outline: none;
    } 
  }

  &::placeholder {
    font-size: rem(16);
    font-family: 'IBM Plex Sans Regular';
    color: $main;
    height: rem(56);
    opacity: 0.5;
  }

  & button {
    background-color: $white;
    border: rem(1) solid $border-color;
    border-left: none;
    height: rem(48) !important;

    &:hover{
      background-color: $white;
    }

    svg {
      margin: auto;
      display: block;
    }
  }
}