@import "assets/styles/abstracts";

.success-modal__btn {
  margin: auto;
  display: block;
  margin-bottom: rem(5);
   &:focus {
    border: none;
   }
  span {
    font-family: 'IBM Plex Sans Extra Bold';
    font-size: rem(16);
    color: $main;
    text-align: center;
    font-weight: 700;
  }

}