@import '../../../assets/styles/abstracts/index.scss';


.organizations-detail {
    img {
        @include breakpoint("768px", "max") {
            width: rem(72);
            height: rem(72);
            margin-top: rem(21);
            margin-bottom: rem(3);
        }

        @include breakpoint("768px", "min") {
            width: rem(104);
            height: rem(104);
            margin: rem(32) auto;
        }
    }

    @include breakpoint("768px", "max") {
        span:first-child {
            font-size: rem(20) !important;
            line-height: rem(21) !important;
        }
    }
    &_content {
        @include breakpoint("768px", "max") {
            padding: rem(0);
            margin-top: rem(41);
            h3 {
              margin-top: rem(40);
              margin-bottom: rem(16);
            }
        }
        @include breakpoint("768px", "min") {
            h3 {
              margin-top: rem(24);
              margin-bottom: rem(16);
            }
        }
        @include breakpoint("1024px", "min") {
            padding-right: rem(16);
        }
     
    }
}